@import "./colors.scss";

@font-face {
  font-weight: 400;
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.ttf');
}

body {
  margin: 0;

  color: $dark-gray;
  background-color: $black;
  font-size: 18px;
  line-height: 1.5em;
}

.h-1 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.h-2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-section {
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}

@media (min-width: 1240px) {
  .h-1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .h-2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
